<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error you dumb fuck</title>
</head>

<body>
    <h1>
      You stupid bitch
    </h1>
    <p><%= errMsg %></p>
</body>

</html>