<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Outbox page</title>
</head>

<body>
    <h1>
        Outbox
    </h1>
    <div>
        <ul>
            <% sentEmailList.forEach(function(sentEmail) { %>
                <li>
                    <div>
                        <strong>
                            <%= sentEmail.recipient_fullname %>
                        </strong>
                    </div>
                    <div>
                        id: <%= sentEmail.id %>
                    </div>
                    <div>
                        <span>Subject:</span>
                        <%= sentEmail.subject %>,
                    </div>
                    <div>
                        sent at: <%= sentEmail.sent_at %>,
                    </div>
                </li>
                <% }); %>
        </ul>
    </div>
</body>

</html>