<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
</head>

<body>
    <form class="signup__container">
        <h1>Welcome to our world!</h1>
        <h1>
            <%= title %>
        </h1>
        <input id="fullname" type="text" name="fullname" placeholder="fullname..." required>
        <input id="email" type="email" name="email" placeholder="email..." required>
        <input id="password" type="password" name="password" placeholder="password..." required>
        <input id="rePass" type="password" name="rePass" placeholder="re-enter password..." required>
        <button type="submit" id="signupBtn">Sign up</button>
        <a href="/">Or Sign In</a>
    </form>
</body>
<style>
    .signup__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 12px;
    }

    input {
        width: 300px;
        height: 50px;
    }
</style>

<script lang="js">
    const fullname = document.getElementById("fullname");
    const email = document.getElementById('email')
    const password = document.getElementById('password')
    const rePass = document.getElementById('rePass');
    const signupBtn = document.getElementById('signupBtn')

    const signup = async (event) => {
        event.preventDefault();

        if (fullname.value.length <= 0) {
            alert("Please enter your fullname")
            return
        } else if (email.value.length <= 0) {
            alert("Please enter your email address")
            return
        } else if (password.value.length < 6) {
            alert("Password must be at least 6 characters")
            return
        } else if (password.value !== rePass.value) {
            alert("Re-enter password is not similar to your password")
            return
        }

        const formData = { fullname: fullname.value, email: email.value, password: password.value }

        try {
            const response = await fetch('/signup', {
                method: "post",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify(formData),
            })
            const result = await response.json()
            if (result.error) {
                alert(result.error)
            } else {
                alert(result)
                window.location.replace('/')
            }
        } catch (err) {
            throw new Error(err.message)
        }
    }

    signupBtn.addEventListener('click', signup)

</script>

</html>