<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <title>WPR</title>
</head>
<body>
    <div class="header__container">
        <div class="header__container--title">
            <h4>Username</h4>
            <button class="btn">Sign out</button>
            
        </div>
    </div>
</body>

<style>
    .header__container {
        box-shadow: 0px -1px 0px 0px #EDEFF1 inset;
    }

    .header__container--title {
        margin: 0 32px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .btn {
        height: fit-content;
        padding: 8px 16px;
    }
</style>

</html>