<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <title>WPR</title>
</head>

<body>
    <div class="header__container">
        <h1 class="header__container--title">
            Header here
        </h1>
    </div>
</body>

<style>
    .header__container {
        background-color: beige;
        height: 5%;
    }

    .header__container--title {
        margin: 0;
    }
</style>

</html>