<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <title>WPR</title>
</head>
<body>
    <div class="menu__container">
        Hi bitch
    </div>
</body> 

<style>
    .header__container {
        background-color: beige;
    }
</style>

</html>